body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}
p {
    margin: 0;
    padding: 0;
}
#cardInfo {
    flex-shrink: 0;
    padding: 5px;
    /* width: 280px; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
#searchArea {
    flex-grow: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
}
#cardImage {
    flex-shrink: 0;
    height: 100%;
}
#jpDesc {
    padding-top: 5px;
    font-size: 0.6em;
}
#searchForm {
    flex-shrink: 0;
    margin: 0;
    padding-bottom: 5px;
}
#searchResults {
    overflow-y: auto;
}
#cardNames {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
}