body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}
p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
sup {
    line-height: 0;
}
#cardInfo {
    flex-shrink: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
#duelScript {
    padding: 5px;
    flex-grow: 1;
    overflow-y: scroll;
    line-height: 1.5;
}
#cardArt {
    width: 312px;
    flex-shrink: 0;
}
#cardDesc {
    flex-grow: 1;
    border: none;
    padding-top: 5px;
}
#duelScript > div {
    margin-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-clip: padding-box;
    font-size: 0.8em;
}
#duelScript > .turn-p1 {
    background-color: #e6ffb3;
}
#duelScript > .turn-p2 {
    background-color: #b3ffff;
}
#duelScript > div > p {
    text-indent: 20px;
}
#duelScript p.activation {
    margin-bottom: -0.2em;
}
#duelScript p.resolution {
    margin-top: -0.2em;
}
#duelScript .chain > p:first-child {
    margin-top: -0.2em;
}
#duelScript .chain > p:last-child {
    margin-bottom: -0.2em;
}
#duelScript p.note, #duelScript p.error {
    font-size: 0.8em;
    font-style: italic;
}
#duelScript ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    font-size: 0.8em;
}
#duelScript > div > ul {
    padding-left: 20px;
}
#duelScript .chain {
    margin-left: 2px;
    border-left: 3px double blue;
    padding: 0.6em;
    padding-right: 0;
}
#duelScript .chain:last-child {
    padding-bottom: 0;
}
#duelScript > div > .chain {
    margin-left: 22px;
}
.cardName {
    color: blue;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}
.token {
    font-weight: bold;
    white-space: nowrap;
}
.error, .error > * {
    color: red;
}